<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <!--Watson Assistant service credentials-->
    <!-- REPLACE `ASSISTANT_ID_HERE` with ID of the Assistant to use -->
    <string name="assistant_id">38982a00-6630-4b1d-980a-74f9c8252026</string>

    <!-- REPLACE `ASSISTANT_API_KEY_HERE` with Watson Assistant service API Key-->
    <string name="assistant_apikey">cLSj0QlxpMtd-TsYnXxEwvis_1S8z2AaHNJVVKqXGQVy</string>

    <!-- The URL provided below is for DALLAS region/location -->
    <!-- If the Assistant service is created in another region/lpcation -->
    <!-- REPLACE the URL with the one provided in the credentials of the service you created-->
    <string name="assistant_url">https://api.au-syd.assistant.watson.cloud.ibm.com</string>

    <!--Watson Speech To Text(STT) service credentials-->
    <!-- REPLACE `STT_API_KEY_HERE` with Watson Speech to Text service API Key-->
    <string name="STT_apikey">HwfPIyrfo1JgrZvZ_KgRerG-cKM7PT_8qtO4KEQv-Y7-</string>

    <!-- The URL provided below is for DALLAS region/location -->
    <!-- If the STT service is created in another region/lpcation -->
    <!-- REPLACE the URL with STT URL provided in the service credentials -->
    <string name="STT_url">https://api.eu-gb.speech-to-text.watson.cloud.ibm.com</string>

    <!--Watson Text To Speech(TTS) service credentials-->
    <!-- REPLACE `TTS_API_KEY_HERE` with Watson Text to Speech service API Key-->
    <string name="TTS_apikey">SagsQIPh1iX8iFTbP7uYe3tpjdvQT2w2mihMKGGf3CZ_</string>

    <!-- The URL provided below is for DALLAS region/location -->
    <!-- If the TTS service is created in another region/lpcation -->
    <!-- REPLACE the URL with TTS URL provided in the service credentials -->
    <string name="TTS_url">https://api.eu-gb.text-to-speech.watson.cloud.ibm.com</string>
</resources>
